@import '~antd/dist/antd.css';

.container {
  padding: 40px;
}


.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download {
  padding: 40px;
}

.download-cancle {
  margin-top: 30px;
}
.download-process {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download-lock {
  flex: 1;
}